*.bak
*.lo
*.o
*.orig
*.rej
*.tab.c
*~
.*.sw[nop]
.deps
.libs
COPYING
ChangeLog
ChangeLog-1.18
ChangeLog-1.19
ChangeLog-1.21
GPATH
GRTAGS
GSYMS
GTAGS
ID
INSTALL
Makefile
Makefile.in
RELNOTES.txt
TAGS
_libs
aclocal.m4
autom4te.cache
autoregen.sh
build-aux
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.lt
config.status
config.status.lineno
config.sub
configure
configure.lineno
configure.scan
depcomp
gtk-doc-1.*.tar.xz
gtk-doc-utils.make
gtk-doc.cat
gtk-doc.dsl
gtk-doc.flat.make
gtk-doc.notmpl-flat.make
gtk-doc.pc
gtk-doc.spec
gtkdoc-check
gtkdoc-common.pl
gtkdoc-depscan
gtkdoc-fixxref
gtkdoc-mkdb
gtkdoc-mkhtml
gtkdoc-mkman
gtkdoc-mkpdf
gtkdoc-mktmpl
gtkdoc-rebase
gtkdoc-scan
gtkdoc-scangobj
gtkdocize
install-sh
libtool
ltmain.sh
m4
missing
mkinstalldirs
so_locations
stamp-h1
tags
*.trs
*.log
help/manual/??*/gtk-doc-manual.xml
