/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/bn_IN/bn_IN.mo
/bn_IN/bn_IN.stamp
/bn_IN/fdl-appendix.xml
/bn_IN/index.docbook
/de/de.mo
/de/de.stamp
/de/fdl-appendix.xml
/de/index.docbook
/el/el.mo
/el/el.stamp
/el/fdl-appendix.xml
/el/index.docbook
/en_GB/en_GB.mo
/en_GB/en_GB.stamp
/en_GB/fdl-appendix.xml
/en_GB/index.docbook
/es/es.mo
/es/es.stamp
/es/fdl-appendix.xml
/es/index.docbook
/fr/fdl-appendix.xml
/fr/fr.mo
/fr/fr.stamp
/fr/index.docbook
/gl/fdl-appendix.xml
/gl/gl.mo
/gl/gl.stamp
/gl/index.docbook
/gu/fdl-appendix.xml
/gu/gu.mo
/gu/gu.stamp
/gu/index.docbook
/pt_BR/fdl-appendix.xml
/pt_BR/index.docbook
/pt_BR/pt_BR.mo
/pt_BR/pt_BR.stamp
/sl/fdl-appendix.xml
/sl/index.docbook
/sl/sl.mo
/sl/sl.stamp
/so_locations
/sv/fdl-appendix.xml
/sv/index.docbook
/sv/sv.mo
/sv/sv.stamp
/ta/fdl-appendix.xml
/ta/index.docbook
/ta/ta.mo
/ta/ta.stamp
/tags
/te/fdl-appendix.xml
/te/index.docbook
/te/te.mo
/te/te.stamp
/zh_CN/fdl-appendix.xml
/zh_CN/index.docbook
/zh_CN/zh_CN.mo
/zh_CN/zh_CN.stamp
