{% from 'common.html' import doctype, head_links, navigation_main %}
{{ doctype() }}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{ title }}</title>
{{ head_links(nav_home, nav_up, nav_prev, nav_next) }}
<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<div class="book">
<div class="titlepage">
{{ navigation_main(title) }}
{% set releaseinfo=xml.find('bookinfo/releaseinfo') %}
{% if releaseinfo %}
{{ releaseinfo.text }}
{% endif %}
<hr>
</div>
<div class="toc">
  <dl class="toc">
  {%- for item in toc.children recursive %}
      <dt><a href="{{ item.filename|e }}">{{ item.title }}</a>
      {%- if item.children -%}
          <dd><dl>{{ loop(item.children) }}</dl></dd>
      {%- endif %}</dt>
  {%- endfor %}
  </dl>
</div>
</div>
</body>
</html>