{% macro doctype() -%}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
{%- endmacro %}

{% macro head_links(home, up, prev, next) %}
<link rel="home" href="{{ home.filename }}" title="{{ home.title }}">
{% if up is defined %}
<link rel="up" href="{{ up.filename }}" title="{{ up.title }}">
{% endif %}
{% if prev is defined %}
<link rel="prev" href="{{ prev.filename }}" title="{{ prev.title }}">
{% endif %}
{% if next is defined %}
<link rel="next" href="{{ next.filename }}" title="{{ next.title }}">
{% endif %}
{% endmacro %}

{% macro navigation_main(title) %}
<table class="navigation" id="top" width="100%" cellpadding="2" cellspacing="0">
  <tr><th valign="middle"><p class="title">{{ title }}</p></th></tr>
</table>
{% endmacro %}

{% macro _navigation_pages(home, up, prev, next) %}
    <td><a accesskey="h" href="{{ home.filename }}"><img src="home.png" width="16" height="16" border="0" alt="Home"></a></td>
  {% if up is defined %}
    <td><a accesskey="u" href="{{ up.filename }}"><img src="up.png" width="16" height="16" border="0" alt="Up"></a></td>
  {% else %}
    <td><img src="up-insensitive.png" width="16" height="16" border="0"></td>
  {% endif %}
  {% if prev is defined %}
    <td><a accesskey="p" href="{{ prev.filename }}"><img src="left.png" width="16" height="16" border="0" alt="Prev"></a></td>
  {% else %}
    <td><img src="left-insensitive.png" width="16" height="16" border="0"></td>
  {% endif %}
  {% if next is defined %}
    <td><a accesskey="n" href="{{ next.filename }}"><img src="right.png" width="16" height="16" border="0" alt="Next"></a></td>
  {% else %}
    <td><img src="right-insensitive.png" width="16" height="16" border="0"></td>
  {% endif %}
{% endmacro %}

{% macro navigation_std(title) %}
{% endmacro %}

{% macro navigation_ref(home, up, prev, next) %}
<table class="navigation" id="top" width="100%" cellpadding="2" cellspacing="5">
  <tr valign="middle">
    <td width="100%" align="left" class="shortcuts">
      <a href="#" class="shortcut">Top</a>
      <span id="nav_description">
        <span class="dim">|</span> 
        <a href="#tester-GtkdocTester.description" class="shortcut">Description</a>
      </span>
    </td>
    {{ _navigation_pages(home, up, prev, next) }}
  </tr>
</table>

{% endmacro %}

{% macro navigation_idx(home, up, prev, next) %}
<table class="navigation" id="top" width="100%" cellpadding="2" cellspacing="5">
  <tr valign="middle">
    <td width="100%" align="left" class="shortcuts">
      <span id="nav_index">
        <a class="shortcut" href="#idx0">0</a>
           <span class="dim">|</span> 
        <a class="shortcut" href="#idx1">1</a>
           <span class="dim">|</span> 
        <a class="shortcut" href="#idx3">3</a>
           <span class="dim">|</span> 
        <a class="shortcut" href="#idx4">4</a>
           <span class="dim">|</span> 
        <a class="shortcut" href="#idx5">5</a>
           <span class="dim">|</span> 
        <a class="shortcut" href="#idx6">6</a>
           <span class="dim">|</span> 
        <a class="shortcut" href="#idx7">7</a>
           <span class="dim">|</span> 
        <a class="shortcut" href="#idxD">D</a>
           <span class="dim">|</span> 
        <a class="shortcut" href="#idxG">G</a>
           <span class="dim">|</span> 
        <a class="shortcut" href="#idxM">M</a>
      </span>
    </td>
    {{ _navigation_pages(home, up, prev, next) }}
  </tr>
</table>
{% endmacro %}