{% from 'common.html' import doctype, head_links, navigation_idx %}
{{ doctype() }}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{ title }}: {{ nav_home.title }}</title>
{{ head_links(nav_home, nav_up, nav_prev, nav_next) }}
<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body bgcolor="white" text="black" link="#0000FF" vlink="#840084" alink="#0000FF">
{{ navigation_idx(nav_home, nav_up, nav_prev, nav_next) }}
<div class="index">
<div class="titlepage"><h1 class="title"><a name="api-index"></a>{{ title }}</h1></div>
</div>
</body>
</html>